<head>
    <!-- Styles -->
    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <script data-goatcounter="https://grahamg-resume.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BYV58J0CSP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-BYV58J0CSP');
    </script>
    
    <title>{{site.title}}</title>
</head>
